#continue-button{
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-background-color: GREEN;
}

#cancel-button{
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-background-color: blue;
}


#env-vars-scroll-pane{
    -fx-border-color: BLUE;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}


#population-scroll-pane{
    -fx-border-color: BLUE;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}