.tile {
    -fx-background-color: lightblue;
    -fx-border-width: 5px;
    -fx-border-color: #2e8b57;
    -fx-background-radius: 5.0;
}

#property-name-label{
    -fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
}

#population-label{
    -fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
}


