.tile {
    -fx-background-color: lightblue;
    -fx-border-width: 5px;
    -fx-border-color: #2e8b57;
    -fx-background-radius: 5.0;
}

.my-label{
    -fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
}

#action-type-label{
    -fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
}

#primary-entity-label{
    -fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
}



#property-name-label{
    fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
}

#singularity-label{
    fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
}

#expression1-label{
    fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
}

#expression2-label{
    fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
}


#property-type-label{
    fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
}


#range-label{
    fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
}



#random-label{
    fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
}

#ticks-sec-label{
    fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
}
.my-label-world-grid{
    -fx-text-fill: WHITE;
    -fx-font-size: 16px;
    -fx-font-weight: BOLD;
}