.root {
    -fx-background-color: #DED7AF; /* Change to your desired background color */
}

.tree-cell {
    -fx-text-fill: #856E2E; /* Change this to your desired text color */
}

#headerContainer #load-file-button{
    -fx-text-fill: BLACK;
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-border-color:BLACK;
    -fx-background-color: #B7A972;
    -fx-font-family: "cursive";
}

#headerContainer .button-with-shape{
    -fx-text-fill: BLACK;
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-border-color: BLACK;
    -fx-background-color: #B7A972;
    -fx-font-family: "cursive";
}

/* Style all labels */
.label {
    -fx-font-size: 15px; /* Change label font size */
    -fx-font-family: "cursive"; /* Change label font family */
    -fx-text-fill: #333; /* Change label text color */
}


#tab-pane-id .button{
    -fx-text-fill: BLACK;
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-border-color: BLACK;
    -fx-background-color: #B7A972;
    -fx-font-family: "cursive";
}

.button{
    -fx-text-fill: BLACK;
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-border-color: BLACK;
    -fx-background-color: #B7A972;
    -fx-font-family: "cursive";
}


#tab-pane-id .tile {
    -fx-background-color: #B7A972;
    -fx-border-width: 5px;
    -fx-border-color: #856E2E;
    -fx-background-radius: 5.0;
}


.my-label{
    -fx-text-fill: BLack;
    -fx-font-size: 10px;
    -fx-font-weight: BOLD;
    -fx-font-family: "cursive";
}

.my-label-def{
    -fx-text-fill: BLack;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
    -fx-font-family: "cursive";
}

.my-label-world-grid{
    -fx-text-fill: Black;
    -fx-font-size: 16px;
    -fx-font-weight: BOLD;
    -fx-font-family: "cursive";
}



/*body1*/
#label1{
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-font-family: "cursive";
}

#label2{
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-font-family: "cursive";
}

#text-flow-1{
    color: #A28129;
}

#text-flow-2{
    color: #A28129;
}

/*header*/
.move-to-page-button{
    -fx-fill: #B7A972;
    -fx-border-color: BLACK;
    -fx-text-fill: BLACK;

}


#queue-man-button{
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-background-color: #A28129;
}
.label-queue{
    -fx-text-fill: WHITE;
    -fx-font-size: 10px;
    -fx-font-weight: BOLD;
    -fx-background-color: #A28129;
}
.background{
    -fx-background-color: #A28129;
}


/*tab pane*/
.custom-tab-pane .tab-header-area {
    visibility: hidden;
    -fx-padding: 0;
}

.custom-tab-pane .tab-content-area {
    -fx-padding: 0;

}

#tab-pane-id .simulation-label {
    -fx-font-size: 12px;
    -fx-background-color: #B7A972;
    -fx-padding: 4px;
    -fx-border-radius: 2px;
}

.my-label-no-background {
    -fx-font-size: 12px;
    -fx-padding: 4px;
    -fx-border-radius: 2px;
    -fx-font-family: "cursive";
}

.my-gridPane {
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-background-color: #F5F5F5;
}

/*body2*/
#label1{
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-font-family: "cursive";
}

#label2{
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-font-family: "cursive";
}






