.move-to-page-button{
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-background-color: GREY;
}

#load-file-button{
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-background-color: GREEN;
}
.button-with-shape{
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
}

#queue-man-button{
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-background-color: BLUE;
}
.my-label{
    -fx-text-fill: WHITE;
    -fx-font-size: 10px;
    -fx-font-weight: BOLD;
    -fx-background-color: BLUE;
}
.background{
    -fx-background-color: BLUE;
}