#clear-button{
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-background-color: GREEN;
}

#start-button{
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
    -fx-font-weight: BOLD;
    -fx-background-color: GREEN;
}

#env-vars-scroll-pane{
    -fx-border-color: BLUE;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}


#population-scroll-pane{
    -fx-border-color: BLUE;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}


#primary-scroll-pane{
    -fx-border-color: BLUE;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

#vbox{
    -fx-border-color: GREEN;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}